.navbar_top {
  background-color: #0c4b35;
  height: 59px;
  display: flex;
  align-items: center;
}
.navbar_top .navbar_top_text {
  display: flex;
  align-items: center;
  height: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 17px 200px;
}
.navbar_top .navbar_top_text ul {
  display: flex;
  width: 739px;
  height: 25px;
  justify-content: space-between;
  align-items: center;
}
.navbar_top .navbar_top_text ul a {
  text-decoration: none;
  display: flex;
  color: white;
}
.navbar_top .navbar_top_text ul a img {
  margin-right: 10px;
}
.navbar_top .navbar_top_text .language {
  display: flex;
  width: 66px;
  align-items: center;
  justify-content: center;
  margin-left: 213px;
}
.navbar_top .navbar_top_text .language a {
  width: 66px;
  height: 25px;
  display: flex;
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 17px 251px;
}
.navbar_top .navbar_top_text .language a p {
  margin-right: 5px;
}

.navbar {
  height: 85px;
}
.navbar .navbar_line {
  display: flex;
  align-items: center;
  margin: 15px 205px;
  width: 1100px;
}
.navbar .navbar_line .logo {
  width: 120px;
  height: 55px;
  position: relative;
}
.navbar .navbar_line .logo1 {
  position: absolute;
  left: 304px;
  top: 77px;
}
.navbar .navbar_line .drops {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 120px;
  width: 500px;
  height: 20px;
}
.navbar .navbar_line .drops ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar_line .drops ul :hover {
  color: #00730c;
}
.navbar .navbar_line .drops ul :hover .img2 {
  opacity: 100;
}
.navbar .navbar_line .drops ul a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navbar .navbar_line .drops ul img {
  padding-left: 5px;
}
.navbar .navbar_line .drops ul .img2 {
  position: absolute;
  right: 0px;
  opacity: 0;
}
.navbar button {
  width: 170px;
  height: 50px;
  background-image: url(/02_HomePage/img/Call_Button.svg);
  border-radius: 5px;
  border: 0;
  margin-left: 100px;
}
.navbar .menu {
  display: none;
}

.frame {
  width: 100%;
  height: 586px;
  background-image: url(/02_HomePage/img/frame_BG.svg);
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
  display: flex;
  align-items: flex-end;
}
.frame .img_flower {
  width: 197px;
  height: 278px;
  margin-bottom: 60px;
}
.frame .img_woman {
  width: 660px;
  height: 400px;
}
.frame .frame_menu {
  width: 550px;
  height: 586px;
  margin-left: 5px;
  font-family: Nunito;
}
.frame .frame_menu .frame_menu_first {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.frame .frame_menu .frame_menu_first p {
  margin-left: 5px;
}
.frame .frame_menu .frame_menu_second {
  width: 550px;
  height: 158px;
  margin-top: 20px;
  font-weight: 800;
  font-size: 58px;
  line-height: 79px;
}
.frame .frame_menu .frame_menu_second span {
  color: #00730c;
}
.frame .frame_menu .frame_menu_third {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  margin-top: 20px;
}
.frame .frame_menu .frame_menu_four {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 550px;
}
.frame .frame_menu .frame_menu_four button {
  background-image: url(/02_HomePage/img/Button_frame_green.svg);
  width: 175px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
.frame .frame_menu .frame_menu_four a {
  display: flex;
  align-items: center;
  width: 177px;
  height: 37px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  margin-left: 30px;
}
.frame .frame_menu .frame_menu_four a p {
  width: 150px;
  height: 30px;
}
.frame .frame_menu .frame_menu_four a .black_arrow {
  height: 15.8113765717px;
  width: 19.9999980927px;
}
.frame .frame_menu .frame_menu_four a .green_arrow {
  display: none;
}
.frame .frame_menu .frame_menu_five {
  margin-top: 56px;
}
.frame .frame_menu .frame_menu_five_mobile {
  display: none;
}

.services {
  margin-top: 100px;
  width: 100%;
  height: 963px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 151px;
}
.services .text h2 {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
}
.services .text h2 span {
  color: #00730C;
}
.services .text h6 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  height: 60px;
  margin-top: 30px;
  width: 1100px;
  text-align: center;
}
.services .cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 1200px;
}
.services .cards .first {
  margin-bottom: 30px;
}
.services .cards .line {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}
.services .cards .line .green {
  background-color: #00730C;
}
.services .cards .line .green p {
  color: white;
}
.services .cards .line .green .img_white {
  display: none;
}
.services .cards .line .box {
  width: 290px;
  height: 366px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
.services .cards .line .box .text_icon {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 223px;
  height: 247px;
  padding: 0;
}
.services .cards .line .box .text_icon .img {
  width: 70px;
  height: 70px;
  left: 40px;
}
.services .cards .line .box .text_icon .serv {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-top: 50px;
}
.services .cards .line .box .text_icon .just_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  margin-top: 10px;
}

.frame2 {
  position: relative;
  margin-top: 100px;
  height: 800px;
  display: flex;
  justify-content: flex-start;
}
.frame2 .imgi {
  position: absolute;
  left: -120px;
  top: 50px;
  width: 326.98px;
  height: 418.78px;
  position: relative;
}
.frame2 .imgi .leaves {
  width: 250.78px;
  height: 350.64px;
  top: 10px;
  left: 30px;
}
.frame2 .imgi .pup {
  width: 232.78px;
  height: 349.64px;
  position: absolute;
  top: 50px;
  left: 40px;
}
.frame2 .about_us {
  width: 1200px;
  height: 800px;
  display: flex;
  position: absolute;
  left: 120px;
}
.frame2 .about_us .img_about_us {
  width: 580px;
  height: 800px;
  margin-right: 27px;
  position: relative;
}
.frame2 .about_us .img_about_us .img_green {
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame2 .about_us .img_about_us .img_medium {
  width: 450px;
  position: absolute;
  left: 24px;
  top: 36px;
}
.frame2 .about_us .img_about_us .img_top {
  width: 320px;
  position: absolute;
  left: 237px;
  top: 497px;
}
.frame2 .about_us .content_button {
  margin-top: 25px;
  width: 580px;
  height: 800px;
}
.frame2 .about_us .content_button .content1 {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 40px;
  line-height: 61px;
}
.frame2 .about_us .content_button .content1 span {
  color: #00730C;
}
.frame2 .about_us .content_button .content2 {
  margin-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.frame2 .about_us .content_button .card {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.frame2 .about_us .content_button .card .line {
  display: flex;
  justify-content: space-between;
}
.frame2 .about_us .content_button .card a {
  text-decoration: none;
  color: #212529;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  width: 290px;
  height: 97px;
  align-items: center;
}
.frame2 .about_us .content_button .card a img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  margin-left: 30px;
}
.frame2 .about_us .content_button button {
  margin-top: 25px;
  background: url(/02_HomePage/img/about_us/Button_about_us.svg);
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar_top {
    width: 100%;
  }
  .navbar_top .navbar_top_text {
    margin-left: 20px;
  }
  .navbar_top .navbar_top_text ul {
    display: flex;
    justify-content: flex-start;
    width: 220px;
  }
  .navbar_top .navbar_top_text ul a {
    margin-right: 20px;
  }
  .navbar_top .navbar_top_text ul a p {
    font-size: 0;
  }
  .navbar_top .navbar_top_text ul a img {
    width: 20px;
    height: 20px;
  }
  .navbar_top .navbar_top_text .language {
    margin-left: 0px;
  }
  .navbar_top .navbar_top_text .language .language_p {
    font-size: 12px;
  }
  .navbar {
    height: 70px;
    width: 100%;
  }
  .navbar .navbar_line {
    height: 40px;
    margin: 15px;
  }
  .navbar .navbar_line .logo {
    width: 90px;
    height: 40px;
  }
  .navbar .navbar_line .logo1 {
    left: 86px;
    top: 71px;
  }
  .navbar .navbar_line .drops {
    display: none;
  }
  .navbar .navbar_line button {
    width: 40px;
    height: 34px;
    background-image: url(/02_HomePage/img/Call_Button_mobile.svg);
    border-radius: 5px;
    border: 0;
    margin-left: 80px;
  }
  .navbar .navbar_line .menu {
    display: flex;
    margin-left: 40px;
    background-image: url(/02_HomePage/img/menu.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: white;
  }
  .frame {
    width: 100%;
    height: 719px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  .frame .img_woman {
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .frame .img_flower {
    width: 25%;
    height: 30%;
    position: absolute;
    left: 0;
    top: 540px;
  }
  .frame .frame_menu {
    width: 290px;
    height: 479px;
    font-family: Nunito;
  }
  .frame .frame_menu .frame_menu_first {
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 14.5;
  }
  .frame .frame_menu .frame_menu_first p {
    margin-left: 5px;
  }
  .frame .frame_menu .frame_menu_second {
    width: 290px;
    height: 76px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  .frame .frame_menu .frame_menu_second span {
    color: #00730c;
  }
  .frame .frame_menu .frame_menu_third {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    margin-top: 20px;
  }
  .frame .frame_menu .frame_menu_four {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
  }
  .frame .frame_menu .frame_menu_four button {
    background-image: url(/02_HomePage/img/Button_frame_green.svg);
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 5px;
  }
  .frame .frame_menu .frame_menu_four a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    line-height: 19px;
    color: #00730C;
    margin-top: 20px;
  }
  .frame .frame_menu .frame_menu_four a p {
    width: 100px;
    height: 20px;
    size: 14px;
  }
  .frame .frame_menu .frame_menu_four a .black_arrow {
    display: none;
  }
  .frame .frame_menu .frame_menu_four a .green_arrow {
    display: block;
    height: 11px;
    width: 15px;
  }
  .frame .frame_menu .frame_menu_five {
    display: none;
  }
  .frame .frame_menu .frame_menu_five_mobile {
    display: block;
    width: 290px;
    height: 32px;
    margin-top: 40px;
  }
  .services {
    height: 1120px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: start;
  }
  .services .text {
    height: 163px;
    width: 280px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .services .text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
  }
  .services .text h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    width: 280px;
    margin-top: 15px;
  }
  .services .cards {
    width: 100%;
    height: 1068px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .services .cards .first {
    margin-bottom: 0px;
  }
  .services .cards .line {
    display: flex;
    flex-direction: column;
  }
  .services .cards .line .green {
    background-color: white;
  }
  .services .cards .line .green p {
    color: black;
  }
  .services .cards .line .green .img {
    display: none;
  }
  .services .cards .line .green .img_white {
    display: block;
  }
  .services .cards .line .box {
    height: 116px;
    width: 260px;
  }
  .services .cards .line .box .text_icon {
    height: 76px;
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }
  .services .cards .line .box .text_icon img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 17px;
    left: 7px;
  }
  .services .cards .line .box .text_icon .serv {
    font-size: 12px;
    margin-top: 0px;
    width: 170px;
    position: absolute;
    left: 65px;
    text-align: start;
  }
  .services .cards .line .box .text_icon .just_text {
    font-weight: 400;
    font-size: 8px;
    line-height: 22px;
    width: 170px;
    height: 44;
    margin: 0;
    text-align: start;
    position: absolute;
    top: 30px;
    left: 65px;
  }
  .frame2 {
    margin-top: 50px;
    display: flex;
    width: 326px;
    height: 1100px;
    padding: 0;
  }
  .frame2 .imgi {
    display: none;
  }
  .frame2 .about_us {
    width: 326px;
    height: 1100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
  }
  .frame2 .about_us .img_about_us {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 306px;
    height: 340px;
    position: relative;
  }
  .frame2 .about_us .img_about_us .img_green {
    width: 155px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .frame2 .about_us .img_about_us .img_medium {
    width: 230px;
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .frame2 .about_us .img_about_us .img_top {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 200px;
  }
  .frame2 .about_us .content_button {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 306px;
    position: relative;
  }
  .frame2 .about_us .content_button .content1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    align-items: center;
    text-align: center;
  }
  .frame2 .about_us .content_button .content2 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #676767;
  }
  .frame2 .about_us .card {
    margin-top: 40px;
    height: 208px;
  }
  .frame2 .about_us .card .line {
    display: flex;
    width: 306px;
    height: 84px;
  }
  .frame2 .about_us .card .line a {
    width: 142px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .frame2 .about_us .card .line a img {
    margin-top: 10px;
    margin-bottom: 13px;
    width: 35px;
    height: 35px;
  }
  .frame2 .about_us .card .line1 {
    margin-bottom: 20px;
  }
  .frame2 .about_us button {
    margin-top: 30px;
    position: absolute;
    left: 60px;
  }
}/*# sourceMappingURL=style.css.map */